body {
    background-color: black;
    background-image: url("black-background.gif");
    background-size: cover;
    background-position: relative;
    text-align: center;
    
}
h1 {
    padding-top: 25px;
    color: white;
}
p {
    padding-top: 25px;
    color: white;
}

.button {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.363);
    background-color: rgba(255, 255, 255, 0.082);
    width: 50vw;
    margin-left: 25vw;
    margin-right: 25vw;
    padding-bottom: 10px;
    margin-top: 20vh;
    backdrop-filter: blur(20px);
}
input {
    border-radius: 100%;
    margin: 25px;
    height: 100px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.274);
}
input:hover {
    -webkit-box-shadow:0 0 20px blue; 
-moz-box-shadow: 0 0 20px blue; 
box-shadow:0 0 20px rgb(1, 180, 235);
    transition: ease-in 0.3s;
}
input:focus {
    -webkit-box-shadow:0 0 20px rgb(255, 255, 255); 
-moz-box-shadow: 0 0 20px rgb(255, 255, 255); 
box-shadow:0 0 30px rgb(252, 252, 252);
background-color: white;
transition: ease-in 0.3s;
}

img {
    height: 80px;
    width: auto;
}